* {
  box-sizing: border-box;
}

.body{
	color: #333;
}

body{
	//background: rgb(80,64,115);
	//background: linear-gradient(20deg, rgba(80,64,115,1) 0%, rgba(150,121,184,1) 100%);
	background-color: #181818;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
	margin:0;
	font-size: 20px;
}

.div-block{
	height: 700px;
	background-color: #212121;
	color: #ddd;
	margin: auto;
	max-width: 940px;
}	

h1 {
	font-family: "Eczar";
	font-size: 48px;
	font-style: bold;
	line-height: 120%;
	margin: auto;
	padding: 40px;
}

p{
	font-family: "Alegreya";
	font-size: 24px;
	padding-left: 40px;
	margin: auto;
}

@keyframes animation1 {
	from {color: #ddd;}
	to {color: #212121;}
}

@keyframes animation2 {
	from {color: #ddd;}
	to {color: #212121;}
}

@keyframes animation3 {
	from {color: #ddd;}
	to {color: #212121;}
}

.footer{
	background-color: #212121;
	color: #fff;
	padding: 6px 20px;
	width:100vw;
	position: fixed;
	bottom: 0;
	font-size: 16px;
	font-family: "Roboto";
	text-align: right;
}

@media screen and (max-width: 800px) {
  h1 {
     font-size: 36px;
	 margin-top: 0px;
  }
  p {
	 font-size: 18px;
  }
  iframe {
	 width: 320px;
	 height: 180px;
  }
}

a {
  color: #d3c3e3;
  text-decoration: none;
}

a:hover {
  color: #8e56c7;
}

a + a {
    margin-left: 20px;
}