.body{
	color: #333;
}

body{
	background-color: #fff;
	min-height: 100%;
	margin:0
}

.div-block{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #212121;
	background-image: none;
	color: #ddd;
	text-indent: 2em;
}

h1{
	font-family: "Eczar";
	font-size: 2.5em;
}

p{
	font-family: "Alegreya";
	font-size:1.5em;
}