:root {
    --font-size: 14px;
    --padding: 18px;
    --margin: 18px;
    --border: 1px solid var(--border-divider);

	--primary-color: #81a0be;
    --accent-color: #d43144;
	--accent-bg-color: #ff81901d;

	--text-body: #2e3032;
	--text-muted: #616161;

	--surface-main: #f3f7ff;
	--surface-nested: rgba(0, 0, 0, 0.05);
	--border-divider: var(--primary-color);
    --border-shadow: rgba(5, 3, 22, 0.3);

	--background-color: #3b3c4e;
    --background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d6f4f8' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:root.dark {
	--accent-color: #e48af5;
    --accent-bg-color: #8b81ff1c;

    --text-body: #e2e1e9;
    --text-muted: #a0a0a0;

    --surface-main: rgba(30, 30, 30, 1);
    --surface-nested: rgba(255, 255, 255, 0.1);
    --border-divider: rgba(255, 255, 255, 0.15);

    --background-color: #151515;
}

* {
    box-sizing: border-box;
    cursor: url('/static/img/cursor.cur') 0 -6, auto
}

@font-face {
    font-family: "NanumMyeongjo";
    src: url('/static/fonts/NanumMyeongjo-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "NanumMyeongjo";
    src: url('/static/fonts/NanumMyeongjo-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "NanumMyeongjo";
    src: url('/static/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

body {
    color: var(--text-body);
    font-size: var(--font-size);
    font-family: "NanumMyeongjo", "Times New Roman", serif;

    padding: 6px;
    margin: auto;
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    background-image: var(--background-image);
    background-repeat: repeat;
    background-attachment: fixed;
}

 p {
    margin: var(--margin) 0;
    line-height: 1.5em;
}

hr {
    width: 50%;
    margin: auto;
}

/* Window title */
h1 {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 800;
    line-height: 1em;

    margin: 0;
    padding: var(--padding);

    border-bottom: var(--border)
}

h2 {
    font-size: calc(var(--font-size) * 1.5);
    margin: var(--margin);
}

h3, h4, h5, h6 {
    font-size: calc(var(--font-size) * 1.25);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover, a:hover p, button:hover, .index li:has(a):hover * {
    color: var(--surface-main);
    background-color: var(--accent-color);
}

a:hover img {
    filter: brightness(0.8) !important;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
}

button {
    background: transparent;
    border: none;
    color: var(--accent-color);
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    white-space: nowrap;
    font-weight: bold;
    width: 100%;
    border-top: var(--border);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav > * {
    padding: 16px 32px;
    border-left: var(--border);
    text-align: center;
}

blockquote {
	margin: var(--padding) 0;
	border-left: 4px solid var(--accent-color);
	color: var(--text-muted);
    background-color: var(--surface-nested);
    font-style: italic;
}

blockquote p {
    margin: 0;
    padding: calc(var(--padding) / 2);
    width: 100%;
}

ul, ol {
    margin: 0;
}

.page-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--padding);
    padding-top: calc(var(--padding) * 3);
    min-width: 0;
}

.window {
    scrollbar-width: none;
    border: var(--border);
    background-color: var(--surface-main);
    box-shadow: 5px 5px var(--border-shadow);
}

.window .window {
    box-shadow: none;
}

.window-title {
    color: white;
    background-color: var(--border-divider);

    font-size: calc(var(--font-size) * 1.5);
    font-weight: 700;

    margin: 0;
    padding: calc(var(--padding) / 2) var(--padding);
}

.window-content {
    padding: var(--padding);
}

.grid {
    display: grid;
    gap: var(--padding);
    align-items: start;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header * {
    color: var(--text-body);
    font-weight: 800;
}

@keyframes homeAnim {
    0% { font-family: 'NanumMyeongjo'; }
    50% { font-family: 'Times New Roman'; }
    100% { font-family: 'NanumMyeongjo'; }
}

.home {
    font-family: 'NanumMyeongjo';
    font-size: 96px;
    text-align: center;
    padding: 40px 0;
}

.home a:hover {
    animation: 1s infinite normal homeAnim;
}

.footer {
    color: white;
    text-align: center;
    padding-top: var(--padding);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.index ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 0;
}

.index li {
    border: var(--border);
    background-color: var(--accent-bg-color);
}

.index a {
    display: block;
    padding: var(--padding);
}

.index *:not(a) {
    color: var(--text-body);
}

.illust {
    border: var(--border);
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 6px 6px var(--surface-nested);
}

.pad-row {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.pad-col {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

#dark-mode-button:hover {
    background-color: var(--text-body);
    color: var(--surface-main)
}

@media screen and (max-aspect-ratio: 3/4) {
    .page-content {
        grid-template-columns: 1fr;
    }

    .home {
        font-size: 72px;
        padding: 28px 0;
    }

    nav {
        justify-content: space-between;
    }

    nav > * {
        flex: 1;
        padding: 16px 16px;
    }
}
